//Variables

$website-width: 1280px;
$main-color: #0bb867;
$light-color: #f4f4f4;
$medium-color: rgb(224, 224, 224);
$dark-color: #333;
$language-color: #5e3c7e;
$bg-image:url('../img/showcase1.jpg');

//Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}